include install.bat
include INSTALL.txt
include README.md
include requirements.txt
include oletools/README.rst
include oletools/README.html
include oletools/LICENSE.txt
include oletools/DocVarDump.vba
recursive-include oletools/thirdparty *.*
prune oletools/thirdparty/oledump/old
recursive-include cheatsheet *.*
global-exclude *.pyc

recursive-include tests *.py
graft tests/test-data
